body{
    background-image: url(img/body-form.jpg);
    background-size: cover;
}
   


.contact-form {
    background: radial-gradient(circle, rgba(31,138,112,1) 0%, rgba(0,66,90,1) 72%);
    border: thin solid #181823;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    width: 80%;
}
  
.contact-form > * {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
    font-family: 'Belanisoma' sans-serif;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
}
  
.contact-form > *::placeholder {
    color: #181823;
} 

  
.contact-form > *[required]:invalid {
    border: thin solid #181823;
} 

  
.contact-form > *[required]:valid {
    border: thin solid #181823;
} 
  
  .contact-form input[type="submit"] {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    font-weight: bold;
    font-size: 1.25rem;
  }
  
  .contact-form input[type="submit"]:hover {
    cursor: pointer;
    opacity: 0.75;
    color: #1F8A70;
  }
  
  .contact-form textarea {
    resize: none;
  }