html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

body{
    margin: 0;
    background-color:#EFF5F5; 
}

header{
    background-color:#1F8A70;
    margin-top: 0;
    padding-top: 0.7rem;
}


h1{
    display: inline-block;
    text-align: center;
    font-family: 'Belanosima', sans-serif;
    font-size: 1rem;
    padding-right: 0;
    margin-top: 1rem;
    margin-left: 0.3rem;
    font-style: oblique;
    text-shadow:1rem 1rem 1.5rem #181823;
}

.favicon{
    width: 3rem;
    height: 3rem;
    float: right;
}

.logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    height: 3.5rem;
    max-width: 17rem;
    background-color:#EFF5F5;
    border-radius: 60rem
}

.menu__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    font-size: 0.6rem;
}


.menu__list__item{
    font-size: 0.8rem;
    list-style-type: none;
    padding: 0.6rem;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: #181823;
    transition-property: font-size;
    transition-duration: 1s;
}

a:hover{
    cursor: pointer;
    color:#EFF5F5;
    font-size: 1.1rem;
}

.container{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h3{
    text-decoration: underline;
    font-weight: bold;
    color:#1F8A70;
    text-indent: 2rem;
    text-align: center;
}

p{
    font-family: 'Belanosima', sans-serif;
    font-weight: bold;
    color: #181823;;
    line-height: 2rem;
    text-indent: 1rem;
    text-align: center;
}

.container-news{
    display:flex;
    align-items: start;
    justify-content: space-around;
    padding-bottom: 4rem;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height: auto;
}

.news-1, .news-2{
    background-color: #EFF5F5;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 1rem #181823;
    padding-top: 0;
    width: 35%;
    height: auto;
    transition-property: transform;
    transition-duration: 1s;
}

.news-1:hover, .news-2:hover{
    transform:scale(1.05);
}

.news-2{
    padding-bottom: 0;
}

.last-news{
    background: radial-gradient(circle, rgba(31,138,112,1) 44%, rgba(24,24,35,1) 91%);
}

#tittle-4{
    color: #EFF5F5;
    font-weight: bold;
    margin-bottom: 1rem;
}

.container-news p{
    margin: 0;
}

img{
    width: 100%;
    height: auto;
    border-radius: 2rem;
    margin-top: 0.5rem;
}

#math-news{
    height: 9rem;
}

.footer{
    background-color: #181823;
    height: 10rem;
    display: flex;
    justify-content: space-between;
}

.footer__social-media__items img{
    width: 1.3rem;
    height: auto;
    padding: 0.2rem;
}

.footer__social-media__items{
    display: flex;
    flex-direction: column;
    transition-property: transform;
    transition-duration: 1s;
}

.footer__social-media__items img:hover{
    cursor: pointer;
    transform: scale(1.5);
    transition-duration: 1s;
}

h4{
    font-size: 0.7rem;
    margin: 0;
    color: #EFF5F5;
}

.contact{
    color: #EFF5F5;
}

.contact__list{
    font-size: 0.6rem;
    list-style-type: none;
    padding: 0;
}

@media  screen and (max-width:386px) {
    html{
        font-size: 0.9rem;
    }
    .menu__list__item{
        font-size: 0.6rem;
    }
    h1{
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px){
    .menu__list{
        font-size: 1rem;
    }
    h4{
        font-size: 1rem;
    }
    .contact__list{
        font-size: 0.8rem;
    }
    h1{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {
    html{
        font-size: 1.2rem;
    }
    img{
        width: 60%;
    }
    .news-1, .news-2{
        text-align: center;
    }
}
